body {
  margin: 0px !important;
}

.h1-general,
.h2-general,
.h3-general {
  font-family: "Questrial", sans-serif;
  color: black;
}

nav {
  background: rgba(245, 245, 245, 0.6);
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}
.princessHomepage {
  width: 100%;
  height: 100%;
}
.logo-img {
  width: 70px;
  height: 70px;
}
