body {
  margin: 0px;
}

.h1-general {
  font-family: "Cinzel", serif;
  color: #ffff;
}
nav {
  background: #0000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}
